body {
  /*background: #221E1D;*/

  background-repeat: no-repeat;
  background-color: #cccccc;
}

#wrapper {
  width: 700px;
  margin: 0 auto;
  background: url('../images/sherlock/sherlock6.jpg');
  background-size: 80px 65px;
  background-color: #fff;
  background-repeat: no-repeat;
}

header h1 {
  color: black;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  width:700px;
  padding-top: 10px;
}

main {
  height:400px;
  width:700px;
  color: white;
}

.introPage {
  height:inherit;
  width: inherit;
  background: rgba(224,227,236,.31);
  position: absolute;
  border-radius: 25px;
  color: #afd4cc;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.introButtons {
  margin-top: 10%;
}

.playAloneButton, .twoPlayerButton, .timerButton {
  font-size: 2em;
  display: block;
  margin: 5px;
  border-radius: 10px;
  background-color: #E9633B;
  font-family: 'Playfair Display', serif;
}

.playAloneButton {
  margin-left: 39%;
}

.twoPlayerButton {
  margin-left: 27%;
}

.timerButton {
  margin-left: 31%;
}

.winnerPage {
  position: absolute;
  background: #e0e3ec;
  width: inherit;
  height: inherit;
  display: none;
  font-family: 'Playfair Display', serif;
  color: #63AA9C;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.card {
  margin-right:5px;
  margin-left:5px;
  margin-top: 5px;
  width:23.5%;
  height:23%;
  background: blue;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.underCard {
  width:100%;
  height:100%;
}

.playerTurn {
  color: #63AA9C;
  background: #e0e3ec;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 30%;
  padding: 5px;
  display: none;
  font-family: 'Playfair Display', serif;
  border-radius: 10px;
}

.playerSet {
  display: none;
  font-family: 'Playfair Display', serif;
  background-color: #E9633B;
  border-radius: 10px;
}

input {
  display: none;
  border-radius: 510px;
  margin-left: 10px;
}

.points {
  display:none;
  font-family: 'Playfair Display', serif;
  text-align: center;
  width: 700px;
}

.misses {
  display:none;
  text-align: center;
  font-family: 'Playfair Display', serif;
  width: 700px;
}

.help {
  position: absolute;
  background: #e0e3ec;
  width: inherit;
  height: inherit;
  display: none;
  font-family: 'Playfair Display', serif;
  color: #63AA9C;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.closeHelp {
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  background-color: #E9633B;
}

.changeCardsButton {
  cursor: pointer;
}

.changeSettings {
  position: absolute;
  background: #e0e3ec;
  width: inherit;
  height: inherit;
  display: none;
  font-family: 'Playfair Display', serif;
  color: #63AA9C;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.changeCards {
  margin: 3%;
  font-size: 1em;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  background-color: #E9633B;
}

.closeSettings,.cardColor {
  font-size: 1em;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  background-color: #E9633B;
  display: block;
  margin-top: 10px;
}

.closeSettings{
  margin-left: 3%;
}

.cardColor{
  margin-left: 3%;
}

.colorChange {
  display: none;
  width:50%;
  color:black;
  cursor: pointer;
}

.changeColor {
  border: 1px solid black;
  font-size: 1em;
}

.helpButton,.reset {
  font-size: .5em;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  background-color: #E9633B;
}

footer {
  margin-top: 10px;
}

.fa-cog {
  color:#afd4cc;
  font-family: 'Playfair Display', serif;
}

.wizGif {
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

#timer {
  display: none;
}
